body {
  text-align: center;
}

.btn {
  height: 100px;
  width: 100px;
  border: 5px black solid;
  border-radius: 20%;
  margin: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: rgb(230, 160, 31);
}

.red {
  background-color: #d95980;
}

.purple {
  background-color: rgb(192, 23, 192);
}

.green {
  background-color: rgb(7, 209, 142);
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}

.clr {
  color: red;
}
